[Unit]
Description=Cattle Prism
[Service]
TimeoutStartSec=5m
ExecStart=/bin/bash -c 'cd /usr/local/src/go/src/cattle-prism && ./cattle-prism'
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
